name: Lint

on:
  push:
    branches:
      - main
    paths:
      - 'orgs-data/*'
      - '.github/workflows/*'
  pull_request:
    paths:
      - 'orgs-data/*'
      - '.github/workflows/*'
  workflow_dispatch:

permissions: read-all

jobs:
  tabs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check that spaces aren't used
        run: '! grep -r -F " " orgs-data'

  columns:
    # reason: https://github.com/nikitastupin/orgs-data/runs/7697192767?check_suite_focus=true
    # todo: handle non-GitHub URLs
    if: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/github-script@v3
        with:
          script: |
            const fs = require('fs')
            const path = require('path')

            const secondColumnRegex = new RegExp('^(https://github.com/[0-9A-Za-z][0-9A-Za-z-]*[0-9A-Za-z]?|[?-])$')
            const dir = 'orgs-data'
            const files = fs.readdirSync(dir, 'utf8')

            let ok = true

            for (const file of files) {
              const p = path.join(dir, file)
              const input = fs.readFileSync(p, 'utf8')
              const lines = input.split('\n').filter(u => u)

              for (const line of lines) {
                const columns = line.split('\t')

                if (columns.length < 2) {
                  console.log(`${p}:${line}`)
                  ok = false
                }

                if (!secondColumnRegex.test(columns[1])) {
                  console.log(`${p}:${line}`)
                  ok = false
                }
              }
            }

            if (!ok) {
              core.setFailed('there are issues (look above for more details)')
            }

  sort-uniq:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check that lists are sorted and uniq
        run: |
          find orgs-data -type f | while read f; do
            sort -u -o "$f" "$f"
          done

          MODIFIED="$(git status -s)"

          if [[ "$MODIFIED" != "" ]]; then
            echo "Not sorted uniq files:"
            echo "$MODIFIED"
            exit 1
          fi

  forget-nothing:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    env:
      BEFORE: ${{ github.event.before || github.event.pull_request.base.sha }}
      AFTER:  ${{ github.event.after  || github.event.pull_request.head.sha }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: before
        run: |
          git checkout "$BEFORE"
          ./scripts/all-orgs.sh > /tmp/before
      - name: after
        run: |
          git checkout "$AFTER"
          ./scripts/all-orgs.sh > /tmp/after
      - name: diff
        run: |
          diff -u /tmp/before /tmp/after
